<div class="col-sm-6" style="margin-left:25%">
		
	<div class="panel panel-default">
		<div class="panel-heading">Choose App</div>
		<div class="panel-body" ng-controller="chooseCtrl">
			
			<div class="vertical-top">					
				<button class="btn btn-info btn-block" ng-click="go_EU_app()"><img src="assets/images/EU_league_icon.png" width=45px>EU Games</button>
				<button class="btn btn-pink btn-block" ng-click="go_US_app()"><img src="assets/images/US_league_icon.png" width=45px>US Games</button>
			</div>
			
		</div>
	</div>
	
</div>